@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #262626;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15.5px 10px;
  background: #011a19;
  border: none;
  border-radius: 0;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}


#top_navbar {
  background: #035565;
  z-index: 5;
}

#sidebar {
  min-width: 400px;
  max-width: 400px;
  background: linear-gradient(to bottom, #002437, #002236);
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
  z-index: 1;
}

#sidebar.active {
  margin-left: -400px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #035565;
}

#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul p {
  padding: 10px;
  font-size: 15px;
  display: block;
  color: #fff;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 14px;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #2f2f2f;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #2f2f2f;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0f0f0f;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download,
a.download:hover {
  background: #318fb5;
  color: #fff;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.content-wrapper > div {
  display: none;
}

.content-wrapper > div.active {
  display: block;
}

@media (maz-width: 768px) {
  #sidebar {
    margin-left: -400px;
  }
  #sidebar.active {
    margin-left: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.map-iframe {
  border-width: 0;
}

.active-link {
  border-bottom: 2px solid;
  /* Change the colors to your desired gradient */
}

.sidebar-list-link {
  color: rgb(146, 146, 146);
}

.content {
  padding-right: 0px;
}

.custom-bg-dark {
  background-color: #202123;
}

.card-text {
  font-size: 14px;
}

.zoom-in {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}

.zoom-in:hover {
  transform: scale(1.1);
}

.navbar-nav .nav-link.active,
.list-unstyled .nav-link.active {
  color: #fff;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

#selected-image {
  width: 380px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#selected-image:hover {

  opacity: .8;
}


.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 1200px;
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}

.popup video {
  width: 100%;
  border-radius: 10px;
}

.popup .close-btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Overlay background */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  max-width: 380px; /* Fits 5 thumbnails per row */
  margin-top: 10px;
  padding-left: 20px;
}

.thumbnail {
  width: 66px;
  height: 66px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
}

.thumbnail:hover {
  opacity: 0.8;
}